@model DemoMVC.Models.DaiLy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DaiLy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDaiLy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDaiLy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDaiDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDaiDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHTPP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHTPP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDaiLy">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
